


<app-destino-viaje *ngFor="let x of destinos"[nombre]=x></app-destino-viaje>

<div class="container content">
	<div class="row">
		<div clas="col-md-6 offset-md-3">
			<span class="anchor" id="formLogin"></span>
			<!--form cardlogin whith validation feedbak-->
			<div class="card card-outline-secundary">
			<div class="card-header">
				<h3 class="mb-0">Whishlist</h3>
			</div>
			<div class="card-body"></div>
				<form>
					<div class="form-group">
						<label for="nombre">Nombre</label>
						<input type="text" class="form-control" id="nombre" placeholder="ingresar nombre">
					</div>
					<div class="form-group">
						<label for="imagen Url">imagen Url</label>
						<input type="text" class="form-control" id="imagenUrl" placeholder="ingresar Url...">
					</div>
					<button type="submit" class="btn btn-primary">Guardar</button>
				</form>
				</div>
		
		</div>
	</div>
</div>
<hr class="mb-5">
<div class="row">
		<app.destino-viaje></app.destino-viaje>
</div>
